<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>jsp20220923</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <session-config>
  	<session-timeout>60</session-timeout>
  </session-config>
  
  <!-- 서블릿 설정 -->
  <servlet>
  	<servlet-name>servlet06</servlet-name>
  	<servlet-class>servlet.chap17.Servlet06</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>servlet06</servlet-name>
  	<url-pattern>/servlet6</url-pattern>
  </servlet-mapping>
  
  
  <!--  /servlet7 로 요청 왔을 때 servlet.chap17.Servlet07 가 일하도록 설정하기 -->
  <servlet>
  	<servlet-name>servlet7</servlet-name>
  	<servlet-class>servlet.chap17.Servlet07</servlet-class>
  	<!-- 서블릿 처음 만들어질 때 필요한 내용들 작성 -->
  	<init-param>
  		<param-name>pw</param-name>
  		<param-value>1q2w3e</param-value>
  	</init-param>
  	<init-param>
  		<param-name>ip</param-name>
  		<param-value>2.255.1.99</param-value>
  	</init-param>
  	<init-param>
  		<param-name>userName</param-name>
  		<param-value>ironman</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>servlet7</servlet-name>
  	<url-pattern>/servlet7</url-pattern>
  </servlet-mapping>
</web-app>







